@charset "UFT-8"

/* ========
   common
=========== */
#wrap {
}
.box_inner {
  max-width: 1050px;
  margin: auto;
}

/* ================================PC */

/* button */
.btn_line {
  text-align: center;
  font-size: 0;
}
.btn_line a {
  margin-left: 10px;
}
.btn_line a:first-child {
  margin-left: 0;
}
.btn_srch {
  display: inline-block;
  width: 70px;
  text-align: center;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  vertical-align: middle;
  background: #384d75;
  color: #ffff;
}
.btn_bbs {
  display: inline-block;
  width: 70px;
  text-align: center;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  vertical-align: middle;
  background: #384d75;
  color: #ffff;
}
.btn_baseColor {
  display: inline-block;
  width: 125px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle;
  background: #384d75;
  color: #ffff;
}

/* header */
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  height: 113px; /* width: 100%; */
}
header .header_area {
}
header .header_area h1 {
  padding: 45px 0 0;
}
header .header_area h1 a {
  display: block;
  width: 270px;
  height: 71px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../img/logo.png) no-repeat;
}
header .header_area .openMOgnb {
  display: none;
}
.header_cont {
  float: right; /* width: 780px; */
}
.header_cont .util {
  text-align: right;
  padding-top: 10px;
  float: right;
}
.header_cont .util li:after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
  font-size: 10px;
  color: #eee;
  position: relative;
  top: -2px;
}
.header_cont .util li:last-child:after {
  content: "";
  display: none;
}
.header_cont .util li a {
  font-size: 14px;
  color: #eee;
}
.header_cont .gnb {
  float: right;
  box-sizing: border-box;
  padding-top: 5px;
}
.header_cont .gnb li a {
  font-size: 18px;
  color: #fff;
  padding: 35px 40px;
  display: block;
  height: 100%;
  box-sizing: border-box;
}

.header_cont .gnb li:last-child a {
  padding-right: 0;
}

.gnb li:hover .gnb_depth {
  display: block;
}

.gnb_depth {
  position: absolute;
  left: 0;
  top: 113px;
  width: 100%;
  background: rgba(250, 100, 0, 0.85);
  z-index: 100;
  display: none;
}

.gnb_depth .submenu_list {
  width: 1050px;
  margin: 0 auto;
  text-align: left;
}

.gnb_depth2_1 .submenu_list {
  box-sizing: border-box;
  padding-left: 480px;
}
.gnb_depth2_2 .submenu_list {
  box-sizing: border-box;
  padding-left: 600px;
}
.gnb_depth2_3 .submenu_list {
  box-sizing: border-box;
  padding-left: 730px;
}
.gnb_depth2_4 .submenu_list {
  box-sizing: border-box;
  padding-left: 930px;
}

.gnb_depth .submenu_list li {
  display: inline;
}
.gnb_depth .submenu_list li a {
  display: inline-block;
  padding: 20px;
}
.gnb_depth .submenu_list li:last-child a {
  padding-right: 0;
}

/* container */
#container {
  padding-bottom: 70px;
}

/* main rolling mobile */

.main_rolling_mobile {
  display: none;
}
.visualRoll {
  position: relative;
  width: 100%;
}
.viewImgList {
  position: relative;
  width: 100%;
}
.viewImgList li {
  text-align: center;
  height: 550px;
  line-height: 550px;
}
.viewImgList li.imglist0 {
  position: relative;
  z-index: 50;
  background: url("../img/mainslide01.jpg") no-repeat center;
}
.viewImgList li.imglist1 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: url("../img/mainslide02.jpg") no-repeat center;
}
.viewImgList li.imglist2 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: url("../img/mainslide03.jpg") no-repeat center;
}
.viewImgList li {
  background-size: cover !important;
}
.viewImgList li .roll_content {
  position: relative;
}
.viewImgList li .roll_content .roll_txtline {
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 100%;
  line-height: 1;
  text-align: center;
  font-size: 22px;
  color: #fff;
  letter-spacing: 2px;
}
.rollbtnArea {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 25px;
  z-index: 200;
}
.rollbtnArea .rollingbtn {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}
.rollbtnArea .rollingbtn li {
  display: inline-block;
  margin-right: 5px;
}
.rollbtnArea .rollingbtn li.butt0 {
  margin-left: 10px;
}
.rollbtnArea .rollingbtn li.rollstop {
}
.rollbtnArea .rollingbtn li.rollplay {
  display: none;
}
.rollbtnArea .rollingbtn li a {
  vertical-align: top;
}

/* about_area */
.about_area {
}
.about_area h2 {
  padding: 55px 0 105px;
  text-align: center;
  font-size: 40px;
}
.about_area .about_box {
  background: #f4f0e9;
}
.about_area .place_list {
}
.about_area .place_list li {
  width: 32%;
  margin-left: 2%;
  text-align: center;
  position: relative;
  top: -50px;
}
.about_area .place_list li:first-child {
  margin-left: 0%;
}
.about_area .place_list li .img_topplace {
  width: 100%;
}
.about_area .place_list li h3 {
  font-weight: bold;
  font-size: 18px;
  padding-top: 25px;
  color: #000;
}
.about_area .place_list li p.txt {
  box-sizing: border-box;
  padding: 10px 30px 0;
  width: 100%;
  word-break: keep-all;
  line-height: 1.8;
  color: #888;
  overflow: hidden;
}
.about_area .place_list li .view {
  display: inline-block;
  margin-top: 20px;
  padding-top: 5px;
  border-top: 2px solid #333;
  color: #888;
}

/* app_area */
.appbbs_area {
  padding: 60px 0;
}
.appbbs_area .appbbs_box {
}
.appbbs_area .app_line {
  display: none;
  /* width: 66%;
  box-sizing: border-box;
  padding: 45px 0;
  text-align: center;
  background: url(../img/bg_app.jpg) no-repeat;
  font-size: 0; */
}
.appbbs_area .bbs_line{
  float: none;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #d6d7d8;
}
.appbbs_area .bbs_line h3{
  font-weight: bold;
  font-size: 19px;
}
.appbbs_area .app_line a {
  display: inline-block;
  width: 43.4%;
  height: 100px;
  line-height: 100px;
  box-sizing: border-box;
  padding-left: 75px;
  text-align: left;
  background: rgba(0, 0, 0, 0.3) url(../img/ico_katalk.png) no-repeat 20px 50%;
  border: 2px solid #fff;
  margin-right: 10px;
  font-size: 26px;
  color: #fff;
  vertical-align: middle;
}
.appbbs_area .app_line a + a {
  margin-right: 0;
  padding-left: 85px;
  background-image: url("../img/ico_phone.png");
}

.appbbs_box .bbs_line {
  float: right;
  width: 30%;
}
.appbbs_box .bbs_line h3 {
  font-size: 26px;
}
.appbbs_box .bbs_line .notice_recent {
  padding-top: 10px;
}
.appbbs_box .bbs_line .notice_recent li {
  padding: 8px 0;
}
.appbbs_box .bbs_line .notice_recent li a {
  display: block;
  padding-left: 14px;
  background: url(../img/ico_bullet.png) no-repeat 0 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* footer */
footer {
  border-top: 1px solid #ddd;
}
footer .footer_area {
  box-sizing: border-box;
  padding: 0 20px 90px;
}
footer .footer_area h2{
  padding-top: 15px;
  font-size: 14px;
}
footer .footer_area .addr{
  line-height: 1.3;
  font-size: 14px;
  color: #767676;
}
footer .footer_area .copy{
  padding: 3px 0 20px;
  font-size: 14px;
  color: #767676;
}
footer .gubun{
  color: #fff;
}
footer .br_line{
  display: block;
}
footer .footer_area .snslink{
  position: static;
  width: 10px;
  margin: 10px auto;
}
footer .footer_area .snslink li{
  margin-left: 30px;
}
footer .footer_area .snslink li:first-child{
  margin-left: 0;
}


footer .footer_area .foot_list {
  padding-top: 25px;
}
footer .footer_area .foot_list li:first-child::after {
  content: "|";
  display: inline-block;
  padding: 0 10ox;
  font-size: 10px;
  color: #000;
  position: relative;
  top: -2px;
}
footer .footer_area .foot_list li a {
  font-weight: bold;
  font-size: 15px;
}
footer .footer_area h2 {
  padding-top: 25px;
  font-size: 14px;
  color: #666;
}
footer .footer_area .addr {
  padding-top: 5px;
  line-height: 1.4;
  font-size: 13px;
  color: #666;
}
footer .footer_area .addr .space0 {
  letter-spacing: 0;
}
footer .footer_area .copy {
  padding-top: 3px;
  font-size: 13px;
  color: #666;
  letter-spacing: 0;
}
footer .footer_area .snslink {
  position: absolute;
  right: 20px;
  top: 50px;
}
footer .footer_area .snslink li {
  margin-left: 60px;
}
footer .footer_area .snslink li a {
  display: block;
  width: 50px;
  height: 74px;
  text-indent: 9999px;
  overflow: hidden;
  background: url(../img/ico_blog_r.png) no-repeat;
}
footer .footer_area .snslink li + li a {
  background: url(../img/ico_facebook_r.png) no-repeat;
}
footer .footer_area .snslink li + li + li a {
  background: url(../img/ico_instargram_r.png) no-repeat;
}

/* quick */
.quick_area {
  position: fixed;
  top: 171px;
  right: 0;
  width: 94px;
  z-index: 100;
}

.quick_area .quick_list .quick_area .quick_list li {
  text-align: center;
  background: #282828;
  font-size: 15px;
}
.quick_area .quick_list li a {
  display: block;
  padding: 15px 0;
  border-top: 1px solid #4d4d4d;
}
.quick_area .quick_list li:first-child a {
  border-top: none;
}
.quick_area .quick_list li a h3 {
  padding-bottom: 10px;
  color: #ddd;
  letter-spacing: -2px;
}
.quick_area .quick_list li:last-child a h3 {
  padding-bottom: 0px;
}
.quick_area .quick_list li a h3 em {
  display: none;
}
.quick_area .quick_list li a h3 p {
  line-height: 1.3;
  font-size: 12px;
  color: #fff;
}
.to_top {
  text-align: center;
  background: #fff;
}
.to_top {
  display: block;
  height: 45px;
  box-sizing: border-box;
  text-indent: -99999px;
  overflow: hidden;
  border-left: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  background: url(../img/ico_totop.png) no-repeat center;
  background-size: 50%;
}

/* popup_base */
.popup_base {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 200;
  display: none;
}
.popup_base .pop_content {
  position: relative;
  width: 580px;
  margin: 200px auto 0;
  box-sizing: border-box;
  background: #fff;
}
.popup_base .pop_content .pop_list li .pop_txt {
  padding-top: 10px;
}
.popup_base .pop_content .pop_list li .pop_txt p {
  padding-top: 5px;
  line-height: 1.4;
  font-size: 14px;
  letter-spacing: -1px;
}
.popup_base .btn_xpop {
  position: absolute;
  right: 0;
  top: -55px;
}
.popup_base .btn_xpop a {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  text-indent: -99999px;
  overflow: hidden;
  background: url(../img/btn_xpop.png) no-repeat;
  background-size: 45px;
}
.popup_base .pop_list li {
  padding: 36px;
  text-align: center;
}
.popup_base .pop_list li + li {
  background: #f4f0e9;
}
.popup_base .pop_list li + li + li {
  background: #ffff;
}
.popup_base .pop_list h2.tit_pop {
  padding: 10px 0 24px;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -2px;
}

/* =============
   MEDIA QUERY
================ */
/* ipad 가로, 노트북, 랩탑 */

@media screen and (min-width: 801px) and (max-width: 1065px) {
  #wrap .box_inner {
    width: 100%;
  }
  header .header_area h1 {
    padding-left: 20px;
  }
  .header_cont {
    float: right;
    width: 60%;
    padding-right: 20px;
  }
  .header_cont .gnb li a {
    padding: 26px 25px;
  }
  .gnb_depth .submenu_list {
    width: 100%;
    padding-left: 52%;
  }
  .gnb_depth .submenu_list a {
    padding: 20px;
  }
  #container {
    padding-bottom: 20px;
  }
  .about_area .place_list {
    box-sizing: border-box;
    padding: 0 20px;
  }
  .about_area .appbbs_box {
    box-sizing: border-box;
    padding: 0 20px;
  }
  .about_area .app_line a {
    font-size: 21px;
  }

  .about_area .about_box img {
    width: 100%;
  }

  footer .footer_area {
    box-sizing: border-box;
    padding-left: 20px;
  }
  footer .footer_area .snslink li {
    margin-left: 15px;
  }

  .quick_area .quick_list {
    display: none;
  }
  .to_top {
    position: fixed;
    right: 20px;
    bottom: 112px;
    text-align: center;
    background: none;
    z-index: 100;
  }
  .to_top a {
    display: block;
    width: 45px;
    height: 45px;
    border-left: none;
    border-bottom: none;
    background: url(../img/ico_totop_mo.png) no-repeat center;
    background-size: 45px;
  }
}
/* (min-width:801px) and (max-width:1065px) */
@media screen and (max-width: 800px) {
  .box_inner {
    width: 100%;
  }

  .header {
    height: 90px;
    text-align: center;
    z-index: 200;
    background: rgba(0, 0, 0, 0.5);
  }
  /* 스크립트용 */
  header.on {
    background: #31343d;
  }
  header .header_area h1 {
    float: none;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 35px 0 0;
  }
  header .header_area h1 a {
    display: inline-block;
    width: 180px;
    height: 23px;
    background-size: 180px 23px;
  }
  header .header_area .openMOgnb {
    display: block;
    position: absolute;
    left: 15px;
    top: 35px;
    width: 23px;
    height: 16px;
  }
  header .header_area .openMOgnb span {
    box-sizing: border-box;
    width: 25px;
    height: 2px;
    margin-bottom: 4px;
    border-radius: 10px;
    background: #fff;
  }
  header .header_area .openMOgnb span + span {
    width: 17px;
  }
  header .header_area .openMOgnb span:last-child {
    width: 25px;
    margin-bottom: 0px;
  }
  .header_cont {
    float: none;
    width: 100%;
    background: #31353d;
    display: none;
  }
  .header_cont .util {
    padding: 20px;
    float: none;
  }
  .header_cont .util li a {
    font-size: 16px;
  }
  .header_cont .gnb {
    float: none;
    box-sizing: border-box;
    padding-top: 0;
    height: auto;
    border-top: 1px solid #83868b;
  }
  .header_cont .gnb li {
    float: left;
    width: 50%;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid #83868b;
  }
  .header_cont .gnb li:nth-child(odd) {
    border-right: 1px solid #83868b;
  }
  .header_cont .gnb li a {
    display: block;
    padding: 0 0 0 65px;
    height: 60px;
    line-height: 60px;
    background: url(../img/ico_gnb01.png) no-repeat 10px center;
    background-size: 49px 56px;
    color: #fff;
  }
  .gnb .gnb_depth,
  .gnb li:hover .gnb_depth {
    display: none;
  }
  .visualRoll img {
    width: 100%;
  }
  .about_area img {
    width: 100%;
  }

  .header_cont .closePop {
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
  }
  .header_cont .closePop a {
    display: block;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/btn_closeMenu.png) no-repeat;
    background-size: 60px;
  }
  /* quick_list */
  .quick_area .quick_list{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .quick_area .quick_list li{
    float: left;
    width: 31%;
    text-align: left;
    background: #3a3e46;
    font-size: 15px;
  }
  .quick_area .quick_list li+li{
    width: 37%;
  }
  .quick_area .quick_list li+li+li{
    width: 32%;
  }
  .quick_area .quick_list li:first-child::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #76787e;
    right: 31%;
    top: 50%;
    margin-top: -8px;
  }
  .quick_area .quick_list li:first-child::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #76787e;
    left: 32%;
    top: 50%;
    margin-top: -8px;
    position: absolute;
  }
  .quick_area .quick_list li a h3{
    height: 37px;
    line-height: 37px;
    padding-bottom: 0;
    padding-left: 45px;
    background: url(../img/ico_phone_mobtm.png) no-repeat 20px center;
    background-size: 20px;
    color: #fff;
    letter-spacing: -1px;
  }
  .quick_area .quick_list li+li a h3{
    background: url(../img/ico_katalk_mobtm.png) no-repeat 20px center;
    background-size: 20px;
  }
  .quick_area .quick_list li+li+li a h3{
    background: url(../img/ico_contact_mobtm.png) no-repeat 20px center;
    background-size: 20px;
  }
  .quick_area .quick_list li a p{
    display: inline;
  }
  .to_top {
    position: fixed;
    right: 20px;
    bottom: 112px;
    text-align: center;
    background: none;
    z-index: 100;
  }
  .to_top a {
    display: block;
    width: 45px;
    height: 45px;
    border-left: none;
    border-bottom: none;
    background: url(../img/ico_totop_mo.png) no-repeat center;
    background-size: 45px;
  }
  .to_top.hide{
    display: none;
  }
  /* popup */
  .pop_base .pop_content{
    position: relative;
    width: 90%;
    margin: 100px auto 0;
  }
  .pop_base .btn_xpop{
    top: -40px;
  }
  .pop_base .btn_xpop a{
    display: block;
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
  .pop_content .pop_list li{
    padding: 20px;
  }
  /* .pop_content .pop_list img{
    padding: 20px;
  } */
  .pop_content .pop_list li h2.tit_pop{
    padding: 5px 0 12px;
    font-size: 17px;
    letter-spacing: -1px;
  }
  .pop_content .pop_list .pop_txt{
    padding-top: 10px;
  }
  .pop_content .pop_list .pop_txt{
    padding-top: 5px;
    line-height: 1.4;
    letter-spacing: -1px;
  }

  

}
/* //(max-width:800px) */
