@charset "UTF-8";
#wrap{}

.box_inner{max-width: 1050px; margin: 0 auto;}

/* =========================================== PC */

/* header */
header{position: absolute; left: 0; top: 0; right: 0; background-color: rgba(0, 0, 0, .5); z-index: 100; height: 113px; /* width: 100%; */}
/* width:100% 안하고 가로 전체 사용 법 : right : 0; 그럼 높이는? bottom : 100, 단 높이는 높이값이 있으면 아노딤 */

/* absolute 는  left, top 사용가능 , relative 는 left, top 사용 불가능 */

header .header_area{}
header .header_area h1{padding: 45px 0 0;}
header .header_area h1 a{display: block; width: 270px; height: 71px; text-indent: -9999px; overflow: hidden; background: url(../img/logo.png) no-repeat;}
/* text-indent:-9999px로 저 멀리 보내놓고 로고 이미지만 사용한다. */

header .header_area .openMOgnb{display: none;}
/* 모바일에서만 사용할 거기 때문에 우선은 none으로 가려준다. 미디어쿼리에서 block 해줌 */

.header_cont{float: right; width: 780px;}
.header_cont .util{text-align: right; padding-top: 10px;}
.header_cont .util li:after{content: '|'; display: inline-block; padding: 0 10px; font-size: 10px; color: #eee; position: relative; top: -2px;}
.header_cont .util li:last-child::after{content: ''; display: none;}
.header_cont .util li a{font-size: 14px; color: #eee;}
.header_cont .gnb{float: right; box-sizing: border-box; padding-top: 5px;}
.header_cont .gnb li a{font-size: 18px; color: #eee; padding: 26px 40px; display: block;}
.header_cont .gnb li:last-child a{padding-right: 0;}

.gnb li:hover .gnb_depth{display: block;}
.gnb_depth{position: absolute; left: 0; top: 113px; width: 100%; background-color: rgba(520, 100, 0, .85); z-index: 100; /* display: none; */}

.gnb_depth .submenu_list{width: 1050px; margin: 0 auto; text-align: left;}

.gnb_depth2_1 .submenu_list{box-sizing: border-box; padding-left: 480px;}
.gnb_depth2_2 .submenu_list{box-sizing: border-box; padding-left: 600px;}
.gnb_depth2_3 .submenu_list{box-sizing: border-box; padding-left: 730px;}
.gnb_depth2_4 .submenu_list{box-sizing: border-box; padding-left: 940px;}
/* 2댑스의 좌측 정렬을 padding으로 맞추는 중 */

.gnb_depth .submenu_list li{display: inline;}
.gnb_depth .submenu_list li a{display: inline-block; padding: 20px;}
.gnb_depth .submenu_list li:last-child a{padding-right: 0;}